<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <% if current_user.profile_picture.attached? %>
          <%= cl_image_tag current_user.profile_picture.key, class: 'rounded-circle', crop: :fill, height: 100, aspect_ratio: '1:1', cloud_name: 'dakvf2jcu' %>
        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="" height="100" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm0 4c1.93 0 3.5 1.57 3.5 3.5S13.93 13 12 13s-3.5-1.57-3.5-3.5S10.07 6 12 6zm0 14c-2.03 0-4.43-.82-6.14-2.88a9.947 9.947 0 0 1 12.28 0C16.43 19.18 14.03 20 12 20z"/></svg>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <h1> <%= @listing.title %> </h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <h2> (<%= @listing.subjects.first.name %>) </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="w-50 d-flex justify-content-center">
          <p> <%= @listing.content %> </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <% if @listing.tutor != current_user %>
          <% if current_user.has_role?(:student) %>
            <%= button_to('+ Booking', new_listing_booking_path(@listing), class: 'btn btn-outline-dark m-3', method: :get) %>
          <% end %>
          <%= button_to('View Tutor', user_path(@listing.tutor), class: 'btn btn-outline-dark m-3', method: :get) %>
        <% else %>
          <%= button_to('Edit', edit_listing_path(@listing.id), class: 'btn btn-outline-dark m-3', method: :get)%>
          <%= button_to('Delete', listing_path(@listing.id), class: 'btn btn-outline-dark m-3', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete your listing? " } }) %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <p class="text-muted"> Listed: <%= @listing.created_at %> </p>
      </div>
    </div>
  </div>
</div>
</section>
