<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img src="https://i.imgur.com/bDLhJiP.jpg" width="100" class="rounded-circle">
        </div>
        <div class="text-center mt-3">
          <h5 class="mt-2 mb-0"><%= @user.name %></h5>
          <span>Tutor</span>
          <div class="px-4 mt-1">
            <p class="fonts"> <%= @user.bio %> </p>
          </div>
          <div class="buttons">
            <%= link_to 'Listings', reviews_path, class: 'btn btn-primary px-4 ms-3' %>
            <% if current_user.reviewed?(@user) && current_user != @user && current_user.reviewed?(@user) && current_user %>
              <%= button_to('Edit Review', edit_review_path(current_user.made_reviews.find_by(tutor: @user).id), class: 'btn btn-primary', method: :get)%>
            <% elsif current_user && current_user != @user %>
              <%= link_to 'Make Review', new_user_review_path(@user.id), class: 'btn btn-primary px-4 ms-3' %>
            <% end %>
          </div>
        </div>
      </div>
      <% @user.reviews.each do |review| %>
        <div class="card">
          <div class="card-header">
            <%= review.rating%> / 5
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p> <%= review.content %> </p>
              <footer class="blockquote-footer"> <%= review.student.name %> <cite title="Source Title"> (student <%= review.updated_at %>) </cite></footer>
            </blockquote>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
